.synth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notegrid {
  display: flex;
}

.noterow {
  /* display: grid;
  grid-template-columns: repeat(12, 1fr); */
}

.note {
  padding: 6px;
  margin: 4px;
  width: 24px;
  height: 24px;
  background-color: #f1f1f1;
  border-radius: 4px;
}

.note--active {
  background-color: #ffb8e2;
}

.noterow--active {
  background-color: aquamarine;
}