.synth-wrapper {
  display: flex;
  justify-content: center;
}

.notegrid-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notegrid {
  display: flex;
  width: 800px;
}

.noterow {
  flex: 1;
  /* display: grid;
  grid-template-columns: repeat(12, 1fr); */
}

.note {
  padding: 6px;
  margin: 4px;
  height: 24px;
  background-color: #f1f1f1;
  border-radius: 4px;
}

.note--active {
  background-color: #ffb8e2;
}

.noterow--active {
  background-color: aquamarine;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #ffb8e2;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: aquamarine;
  cursor: pointer;
}

.controls-left, .controls-right {
  padding: 16px;
}

.control-group {
  margin-top: 16px;
}

.radio-list {
  display: flex;
  margin-top: 6px;
}

.toggle {
  text-transform: capitalize;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid transparent;
}
.toggle:hover {
  cursor: pointer;
}

.toggle.active {
  background: #ffb8e2;
  border-color: #ffb8e2;
}

.toggle img {
  flex: 1;
  width: 50px;
  height: 50px;
  mix-blend-mode: lighten;
  display: block;
  border-radius: 8px;
}